.componentWrapper {
  margin: 15px 0;
}

.container {
  margin: 40px auto;
  display: flex;
  justify-content: center;
  max-width: 500px;
  box-shadow: 2px 7px 10px #ccc;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding-bottom: 50px;
}

.submitBtn {
  display: block;
  margin: 0 auto;
  width: 150px;
  height: 40px;
}
