.wrapper {
  margin-bottom: 12px;
  cursor: pointer;
  background-color: aliceblue;
  border: 1px solid #fff;
  padding: 12px;
  border-radius: 3px;

  &:hover {
    border-color: #999;
  }
}

.component {
  pointer-events: none;
}
